/Fight.class
/Unit.class
/Soldat.class
/Categorie.class
/Infantryman.class
/Horseman.class
/Main.class
/Soldier.class
/HumanSoldier.class
/Decorator.class
/SwordDecorator.class
/ShieldDecorator.class
/ConcretDecorator.class
